{% extends "modelo.html" %}

{% block title %}Adicionar Termo{% endblock %}

{% block content %}
    <h2>Adicionar Novo Termo</h2>

    <form action="{{ url_for('criar_termo') }}" method="post">
        <div>
            <label for="termo">Termo:</label><br>
            <input type="text" id="termo" name="termo" required>
        </div>

        <br>

        <div>
            <label for="definicao">Definição:</label><br>
            <input type="text" id="definicao" name="definicao" required>
        </div>

        <br>

        <button type="submit">Adicionar</button>
    </form>

    <br>
    <a href="{{ url_for('dicionario') }}">Voltar ao Dicionário</a>
{% endblock %}